#last-clicked {
  font-family: monospace;
}

body {
    font-family: Arial, Helvetica;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

.state {
    font-family: monospace;
    margin: 8px;
    padding-top:8px;
    display: block;
}

.btn {
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 4px 8px;
    border: 3px solid white;
    border-radius: 4px;
    margin: 8px;
}

audio,
video {
    border-radius: 4px;
    border: 3px solid white;
    margin: 8px;
}

button[disabled],
input[disabled] {
    background: rgba(216, 205, 205, 0.2);
    border: 1px solid rgb(233, 224, 224);
}

.st0 {fill:none;stroke:#FFFFFF; stroke-width:0.835px;}
.st1 {fill:none;stroke:#FFFFFF; stroke-width:1.367px;}
.st2 {fill:none;stroke:#FFFFFF; stroke-width:8.255px;}
.st3 {font-size:38.5244px;}
.st5 {letter-spacing:-1;}
.st6 {letter-spacing:-2;}
.st7 {letter-spacing:-3;}
.st8 {font-size:47.572px;}
.st9 {fill:#FFFFFF;}
.st10 {fill:none;stroke:#FFFFFF; stroke-width:8.25px;}
.st11 {font-size:53.0903px;}
.st12 {display:inline;}
.st13 {font-size:33.0209px;}
.st14 {fill:none;stroke:#FFFFFF; stroke-width:8.25px;stroke-linecap:round;}
.st15 {fill:none;stroke:#FFFFFF; stroke-width:8.255px;stroke-linecap:round;}
.st16 {font-size:33px;}
.st17 {fill:#D82228; }
.st18 {display:none;}

/*
.st4 {font-family: "Arial"; font-weight: bold;}
.st19 {font-family:"Arial"; font-style: italic; font-weight: bold; }
*/